*{
    box-sizing: border-box;
}
body{
    background-image: url("programmer-coding-new-project-programming-web.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    
}
.form{
    position:static;
    font-family: 'Righteous';
    border-radius: 20px;
    border:1px solid plum;
    box-shadow:-10px  10px 30px black ;
    margin-left: 40px;
    width:40%;
    margin-top: 10px;
    overflow: hidden;
}

.Header{
    font-variant: small-caps;
    color: beige;
    overflow: hidden;
    background-color: rgba(117, 5, 197, 0.618);
    text-align: center;
}
.Header h1{
    line-height: 20px;
    font-size: 30px;
}
h4{
        line-height: 10px;
}
.content{
    background-color:rgb(255, 255, 255);
    padding: 10px;
}
p{
  font-weight:900 ;
}

input[type="text"],
input[type="email"],textarea{
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.604);
    margin-top: 10px;
    border: 1px solid rgb(172, 171, 171);
    background-color:rgba(255, 255, 255, 0.603);
    border-radius: 2px;
    padding: 10px;
    width: 100%;
}
button{
    /* box-shadow:2px 2px 10px rgba(0, 0, 0, 0.604) ; */
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-color: white;
    background-color: rgba(117, 5, 197, 0.802);
    color: white;
    font-weight: bold;
}
button:hover{
    background-color: rgba(7, 36, 199, 0.994);
    cursor: pointer;
}
